In [9]:
import pandas as pd

In [10]:
model=pd.read_pickle('HousePricePredictor')

In [11]:
model

LinearRegression()

In [12]:
cols=['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms', 'Area Population']

In [16]:
income=eval(input('Enter the income:'))
house_age=eval(input('Enter the house age:'))
rooms=eval(input('Enter the number of rooms:'))
population=eval(input('Enter the population:'))
query=pd.DataFrame({'Avg. Area Income':[income], 
                    'Avg. Area House Age':[house_age], 
                    'Avg. Area Number of Rooms':[rooms], 
                    'Area Population':[population]
                   })

Enter the income: 36000
Enter the house age: 6
Enter the number of rooms: 4
Enter the population: 40000

In [17]:
query

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Area Population
0,36000,6,4,40000

In [22]:
price=model.predict(query)[0]
price

231489.21807090426

In [24]:
print('Price for the house can be: %.1f'%(price))

Price for the house can be: 231489.2